body {
    font-family: Arial, sans-serif;
    background-image: url('fondo_cards.jpg'); /* Corrige la sintaxis aquí */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    padding: 30px 20px;
    border-radius: 0 0 12px 12px;
    max-width: 600px;
    margin: 40px auto;
}

h1 {
    font-size: 1.5em;
    margin-top: 24px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

ul {
    list-style-type: disc;
    margin-left: 30px;
    margin-bottom: 16px;
    color: #f1f1f1;
}

li {
    margin-bottom: 6px;
    font-size: 1em;
}

ul li {
    background: transparent;
    color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 1px 5px;
}